# Movie Revenue Project Data Cleaning and Modeling Notebook

In [1]:
# Needed to pip install psycopg2
# pip install psycopg2-binary

In [2]:
# imports 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
from sqlalchemy import create_engine

In [3]:
# Imports for modeling: 
import statsmodels.api as sm
# Need to import this to deal with missing data 
from sklearn.impute import SimpleImputer
# Need these for creating pipeline 
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics

## Step 1: Connect to SQL server to get data

In [341]:
# Establish a connection using SQLAlchemy 

# Try following string 
# Note: 'psycopg2' is the assumed driver for postgres 
connection_url = 'postgresql+psycopg2://oahwyljl:sSrk8smQ16BCOVhHQBVWVtK2nVcCDmiF@peanut.db.elephantsql.com/oahwyljl'

try:
    # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
    engine = create_engine(connection_url)
    print( f"Connection created successfully.")
    
except Exception as ex:
    print("Connection could not be made due to the following error: \n", ex)

Connection created successfully.

In [355]:
# There were 539 empty rows, but those got removed from the database 
engine.execute('''SELECT count(movieinfo_id) FROM moviesinfo WHERE title = 'NaN' ''').fetchall()

[(539,)]

### Get data and do preliminary cleaning

In [408]:
# df is the movies_info dataframe
df = pd.read_sql_query("SELECT * from moviesinfo", con=engine, parse_dates = ['released'])

In [409]:
# We have 13,380 movies in total (final number)
df.shape

(13380, 15)

In [410]:
# df_revenue is the dataframe containing revenue 
df_revenue = pd.read_sql_query("SELECT * from moviesgross", con=engine, parse_dates = ['release_date'])

In [411]:
# We have 14,939 movies from The Numbers 
df_revenue.shape

(14939, 9)

In [412]:
# Remove movieinfo_id extra column from both datasets
# Otherwise, will have issue with removing duplicates later 
df = df.drop('movieinfo_id', axis = 1)
df_revenue = df_revenue.drop('moviegross_id', axis = 1)

In [413]:
# Replace 'NaN' strings and 'N/A' strings with none type in both dataframes 
df = df.replace('NaN', np.nan)
df = df.replace('N/A', np.nan)
df_revenue = df_revenue.replace('NaN', np.nan)
df_revenue = df_revenue.replace('N/A', np.nan)

### Remove duplicate values:

In [414]:
# There are 2,567 duplicate values 
len(df[df.duplicated()])

2567

In [415]:
# No duplicate values in df_revenue! 
df_revenue[df_revenue.duplicated()]

Empty DataFrame
Columns: [year, rank, title, release_date, distributor, genre, gross, tickets_sold]
Index: []

In [416]:
# Drop duplicates 
df = df.drop_duplicates(subset = ['title', 'released'])

In [417]:
# Now we have 10,807 observations with movie info 
len(df)

10807

In [418]:
df[df['title'] == 'Galapagos']

,title,year,rated,released,runtime,genre,director,writer,actors,plot,language,country,poster,seasons
3001,Galapagos,2006,NaN,2007-03-18,180 min,Documentary,NaN,NaN,"Tilda Swinton, Richard Wollocombe, Tom Hiddleston",The history of these beautiful Islands from th...,English,United Kingdom,https://m.media-amazon.com/images/M/MV5BNzdiZm...,1.0

### Remove TV Series

In [428]:
# 10,646 observations are NOT TV series 
len(df[df['seasons'].isna()])

10646

In [429]:
# Remove the TV series (keep only entries where 'seasons' is NaN)
df = df[df['seasons'].isna()]

In [433]:
# Drop the Series column, since we don't need it anymore: 
df = df.drop('seasons', axis = 1)

## Step 2: Inspect and Remove 'NaN's from movie df:

In [434]:
# See how much data is missing in df and df_revunue
df.isna().sum()

title          0
year           0
rated       1281
released     153
runtime       90
genre         15
director      68
writer       726
actors       164
plot         122
language      60
country      231
poster       130
dtype: int64

In [435]:
# Good - no missing values for gross revenue 
df_revenue.isna().sum()

year               0
rank               0
title              0
release_date      36
distributor     1127
genre            931
gross              0
tickets_sold       0
dtype: int64

In [437]:
# Good that 'gross' is already an integer and won't need to be recoded! 
df_revenue['gross']

0        572984769
1        224543292
2        212609036
3        183651655
4        173005945
           ...
14934          869
14935          589
14936          516
14937          374
14938          150
Name: gross, Length: 14939, dtype: int64

## Step 3: Recode columns in df

In [436]:
# The following columns will need to be recoded: 
# Year --> to int 
# Runtime --> to int 
# Genre --> need to convert to list and dummy code genres 
# Directors --> create extra columns code top 10, 50, 100 
# Writer --> ignore for now? Can do same thing as with Director and actors 
# Actors --> convert to list and code top 10, 50, and 100 
# Language --> code as English only, English and other(s), Foreign lang only --> then one hot encode as 2 variables 
# Country --> code as US only, US and other countries, Foreign only --> then one hot encode 
for column in df.columns: 
    print(column, df[column].dtype)

title object
year object
rated object
released datetime64[ns]
runtime object
genre object
director object
writer object
actors object
plot object
language object
country object
poster object

In [438]:
# Function for converting 'runtime' to int 
def get_minutes(x): 
    if pd.isna(x): 
        return np.nan 
    else: 
        try: 
            return int(x.split(' ')[0])
        except: 
            return np.nan

In [439]:
# Convert 'runtime'
df['runtime'] = df['runtime'].apply(get_minutes)

In [440]:
# 'Runtime' column has 93 NAN values 
df['runtime'].isna().sum()

93

# Create columns for Top Director and Top Actors

## Columns for Top 10, 50, 100 Directors:

In [441]:
num_directors = len(df['director'].value_counts())
print(f'There are {num_directors} directors in the dataset.')

There are 6488 directors in the dataset.

### What % of movies did the top 10, 50, 100 directors make?

In [442]:
# Lists of the top directors: 
# Problem with this approach: need to see how many movies top 10 director made and include anyone 
# who made the same number of movies in that list too 
top_10_directors = list(df['director'].value_counts()[0:10].index)
top_50_directors = list(df['director'].value_counts()[0:50].index)
top_100_directors = list(df['director'].value_counts()[0:100].index)

In [443]:
df['director'].value_counts()[0:11]

Woody Allen             20
Ridley Scott            19
Clint Eastwood          18
Steven Spielberg        18
Steven Soderbergh       17
Ron Howard              15
Martin Scorsese         14
Michael Winterbottom    14
François Ozon           14
M. Night Shyamalan      12
David Gordon Green      12
Name: director, dtype: int64

In [444]:
# New approach: 
cutoff_10 = df['director'].value_counts()[9]
top_10_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_10].index)
num_top = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_10]))

# Movies made by the top 10 directors: 
top_10 = df['director'].apply(lambda x: x in top_10_directors).sum()
print(f'There were {num_top_10} "top 10" directors, who EACH made at least {cutoff_10} movies. \n \
They made {top_10} movies ({round(top_10 / len(df) * 100, 1)}% of all movies in dataset).')

There were 10 "top 10" directors, who EACH made at least 12 movies.
 They made 209 movies (2.0% of all movies in dataset).

In [445]:
cutoff_50 = df['director'].value_counts()[49]
top_50_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_50].index)
num_top_50 = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_50]))

# Movies made by the top 50 directors: 
top_50 = df['director'].apply(lambda x: x in top_50_directors).sum()
print(f'There were {num_top_50} "top 50" directors, who EACH made at least {cutoff_50} movies.\n \
They made {top_50} movies ({round(top_50 / len(df) * 100, 1)}% of all movies in dataset).')

There were 73 "top 50" directors, who EACH made at least 8 movies.
 They made 739 movies (6.9% of all movies in dataset).

In [446]:
cutoff_100 = df['director'].value_counts()[99]
top_100_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_100].index)
num_top_100 = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_100]))

# Movies made by the top 100 directors: 
top_100 = df['director'].apply(lambda x: x in top_100_directors).sum()
print(f'There were {num_top_100} "top 100" directors, who EACH made at least {cutoff_100} movies.\n \
They made {top_100} movies ({round(top_100 / len(df) * 100, 1)}% of all movies in dataset).')

There were 132 "top 100" directors, who EACH made at least 7 movies.
 They made 1152 movies (10.8% of all movies in dataset).

### Create columns to code for top directors:

In [447]:
# Function for coding top director 
def has_top_director(x, director_list): 
    if pd.isna(x): 
        return np.nan 
    elif x in director_list: 
        return 1 
    else: 
        return 0

In [448]:
# Apply function to create 3 new columns: 
df['top_10_dir'] = df['director'].apply(lambda x: has_top_director(x, top_10_directors))
df['top_50_dir'] = df['director'].apply(lambda x: has_top_director(x, top_50_directors))
df['top_100_dir'] = df['director'].apply(lambda x: has_top_director(x, top_100_directors))

## Columns for Top 10, 50, 100 Actors:

In [449]:
# Function for converting column to list of actors instead of string 
def to_list(x): 
    if pd.isna(x): 
        return np.nan 
    else: 
        return x.split(', ')

In [450]:
# Apply function to 'actors' and 'writer' columns 
# Make sure to run only once 
df['actors'] = df['actors'].apply(to_list) 
df['writer'] = df['writer'].apply(to_list)

In [457]:
df['actors'][0]

['Tom Holland', 'Zendaya', 'Benedict Cumberbatch']

In [458]:
isinstance(df['actors'][0], list)

True

In [466]:
# Create a dictionary of actors to get the top actors by number of movies they've been in 
actor_dict = {}
for actors in df['actors']: 
    if isinstance(actors, list):
        for actor in actors: 
            actor_dict[actor] = actor_dict.get(actor, 0) + 1

In [499]:
# 16,374 actors in the dataset 
len(actor_dict)

16374

In [485]:
# Look at the top actors 
top_actors = sorted(actor_dict.items(), key=lambda item: item[1], reverse = True)
top_actors

[('Samuel L. Jackson', 41),
 ('Matt Damon', 38),
 ('Robert De Niro', 38),
 ('Ryan Reynolds', 37),
 ('Nicolas Cage', 36),
 ('Liam Neeson', 36),
 ('Julianne Moore', 35),
 ('Mark Wahlberg', 34),
 ('Ewan McGregor', 34),
 ('Nicole Kidman', 33),
 ('Morgan Freeman', 33),
 ('Scarlett Johansson', 32),
 ('Owen Wilson', 32),
 ('Tom Hanks', 31),
 ('Amitabh Bachchan', 31),
 ('Hugh Jackman', 30),
 ('Bruce Willis', 30),
 ('Ethan Hawke', 30),
 ('Matthew McConaughey', 29),
 ('Colin Farrell', 29),
 ('Dwayne Johnson', 28),
 ('Charlize Theron', 28),
 ('Willem Dafoe', 28),
 ('Robert Downey Jr.', 28),
 ('Ben Affleck', 28),
 ('Akshay Kumar', 28),
 ('Naomi Watts', 28),
 ('Woody Harrelson', 27),
 ('Cate Blanchett', 27),
 ('Kristen Stewart', 27),
 ('Gerard Butler', 27),
 ('Isabelle Huppert', 27),
 ('Mark Ruffalo', 27),
 ('Jesse Eisenberg', 27),
 ('Rachel Weisz', 27),
 ('Jason Statham', 26),
 ('Johnny Depp', 26),
 ('Pierce Brosnan', 26),
 ('Dennis Quaid', 26),
 ('Christian Bale', 26),
 ('Salman Khan', 26),
 ('Natalie Portman', 26),
 ('George Clooney', 26),
 ('Denzel Washington', 25),
 ('Ed Harris', 25),
 ('Guy Pearce', 25),
 ('Steve Carell', 25),
 ('James Franco', 25),
 ('Ajay Devgn', 25),
 ('Ben Stiller', 25),
 ('Anthony Hopkins', 24),
 ('Penélope Cruz', 24),
 ('Adam Sandler', 24),
 ('Joaquin Phoenix', 24),
 ('Jake Gyllenhaal', 24),
 ('Clive Owen', 24),
 ('Angelina Jolie', 23),
 ('Gael García Bernal', 23),
 ('Keanu Reeves', 23),
 ('Forest Whitaker', 23),
 ('Sigourney Weaver', 23),
 ('Brad Pitt', 23),
 ('Juliette Binoche', 23),
 ('Chris Evans', 23),
 ('Will Ferrell', 23),
 ('Helen Mirren', 23),
 ('Kate Winslet', 23),
 ('Jude Law', 23),
 ('Elizabeth Banks', 23),
 ('Julia Roberts', 23),
 ('Meryl Streep', 23),
 ('Rachel McAdams', 23),
 ('Kirsten Dunst', 23),
 ('Michelle Williams', 22),
 ('Emily Blunt', 22),
 ('Paul Rudd', 22),
 ('Adrien Brody', 22),
 ('Toni Collette', 22),
 ('John Goodman', 22),
 ('Russell Crowe', 22),
 ('Cameron Diaz', 22),
 ('James McAvoy', 22),
 ('Michael Fassbender', 22),
 ('Jennifer Garner', 22),
 ('Channing Tatum', 22),
 ('John Cusack', 22),
 ('Anna Kendrick', 22),
 ('Abhishek Bachchan', 22),
 ('Reese Witherspoon', 21),
 ('Tilda Swinton', 21),
 ('Jackie Chan', 21),
 ('Anne Hathaway', 21),
 ('Renée Zellweger', 21),
 ('Rosario Dawson', 21),
 ('Keira Knightley', 21),
 ('Ryan Gosling', 21),
 ('Jeff Bridges', 21),
 ('Ben Kingsley', 21),
 ('Colin Firth', 21),
 ('Aaron Eckhart', 21),
 ('Shah Rukh Khan', 21),
 ('Vin Diesel', 20),
 ('Daniel Craig', 20),
 ('Emma Stone', 20),
 ('Rose Byrne', 20),
 ('Ralph Fiennes', 20),
 ('Bradley Cooper', 20),
 ('Tom Cruise', 20),
 ('Jack Black', 20),
 ('Robin Williams', 20),
 ('Vera Farmiga', 20),
 ('Amy Adams', 20),
 ('Edward Norton', 20),
 ('Alec Baldwin', 20),
 ('Geoffrey Rush', 20),
 ('Paul Giamatti', 20),
 ('John Leguizamo', 19),
 ('Will Smith', 19),
 ('Vince Vaughn', 19),
 ('Kevin Costner', 19),
 ('Sam Rockwell', 19),
 ('Catherine Deneuve', 19),
 ('Greg Kinnear', 19),
 ('Sanjay Dutt', 19),
 ('Peter Sarsgaard', 19),
 ('Michael Shannon', 19),
 ('Emily Watson', 19),
 ('Ice Cube', 19),
 ('Laura Linney', 19),
 ('Billy Bob Thornton', 19),
 ('Joseph Gordon-Levitt', 19),
 ('Patricia Clarkson', 19),
 ('Judi Dench', 18),
 ('Al Pacino', 18),
 ('Chris Pine', 18),
 ('Joel Edgerton', 18),
 ('Sean Penn', 18),
 ('Luke Wilson', 18),
 ('Kevin Hart', 18),
 ('Jamie Foxx', 18),
 ('Tim Allen', 18),
 ('Deepika Padukone', 18),
 ('Sandra Bullock', 18),
 ('Drew Barrymore', 18),
 ('Tommy Lee Jones', 18),
 ('Ashley Judd', 18),
 ('Chiwetel Ejiofor', 18),
 ('Kate Beckinsale', 18),
 ('John Travolta', 18),
 ('Catherine Keener', 18),
 ('Kevin Spacey', 18),
 ('Jennifer Aniston', 18),
 ('Eddie Murphy', 18),
 ('Kareena Kapoor', 18),
 ('Saif Ali Khan', 18),
 ('Emma Thompson', 17),
 ('Chris Rock', 17),
 ('Robert Pattinson', 17),
 ('Tim Robbins', 17),
 ('Dermot Mulroney', 17),
 ('Michael Caine', 17),
 ('Harrison Ford', 17),
 ('Salma Hayek', 17),
 ('Jim Caviezel', 17),
 ('John Malkovich', 17),
 ('Patrick Wilson', 17),
 ('Jennifer Connelly', 17),
 ('Richard Gere', 17),
 ('Kevin Bacon', 17),
 ('Seth Rogen', 17),
 ('Anil Kapoor', 17),
 ('Josh Brolin', 17),
 ('Jason Bateman', 17),
 ('Tom Wilkinson', 17),
 ('Susan Sarandon', 17),
 ('Anna Faris', 17),
 ('Gwyneth Paltrow', 17),
 ('Philip Seymour Hoffman', 17),
 ('Don Cheadle', 16),
 ('Oscar Isaac', 16),
 ('Kristen Wiig', 16),
 ('Alicia Vikander', 16),
 ('Jessica Chastain', 16),
 ('Bill Murray', 16),
 ('Vincent Cassel', 16),
 ('Maria Bello', 16),
 ('Sam Worthington', 16),
 ('Diane Lane', 16),
 ('Shia LaBeouf', 16),
 ('Elijah Wood', 16),
 ('Javier Bardem', 16),
 ('Jamie Bell', 16),
 ('Sylvester Stallone', 16),
 ('John C. Reilly', 16),
 ('Priyanka Chopra Jonas', 16),
 ('John Abraham', 16),
 ('Anton Yelchin', 16),
 ('Kristin Scott Thomas', 16),
 ('Dakota Fanning', 16),
 ('Zoe Saldana', 16),
 ('Leonardo DiCaprio', 16),
 ('Jonah Hill', 16),
 ('Marisa Tomei', 16),
 ('Idris Elba', 15),
 ('Josh Hartnett', 15),
 ('Gemma Arterton', 15),
 ('Robin Wright', 15),
 ('Amanda Seyfried', 15),
 ('Casey Affleck', 15),
 ('Katrina Kaif', 15),
 ('Martin Lawrence', 15),
 ('Antonio Banderas', 15),
 ('Annette Bening', 15),
 ('Emily Mortimer', 15),
 ('Jennifer Jason Leigh', 15),
 ('Elle Fanning', 15),
 ('Evan Rachel Wood', 15),
 ('Chris Hemsworth', 15),
 ('Jennifer Lawrence', 15),
 ('Zac Efron', 15),
 ('Mel Gibson', 15),
 ('Irrfan Khan', 15),
 ('Kate Hudson', 15),
 ('Zooey Deschanel', 15),
 ('Seann William Scott', 15),
 ('Rani Mukerji', 15),
 ('Tom Hardy', 14),
 ('Chloë Grace Moretz', 14),
 ('Milla Jovovich', 14),
 ('Frances McDormand', 14),
 ('Daniel Brühl', 14),
 ('Gabriel Byrne', 14),
 ('Christina Ricci', 14),
 ('Hrithik Roshan', 14),
 ('Elliot Page', 14),
 ('James Marsden', 14),
 ('Jim Carrey', 14),
 ('Richard Jenkins', 14),
 ('Halle Berry', 14),
 ('Sienna Miller', 14),
 ('Liev Schreiber', 14),
 ('Steve Coogan', 14),
 ('Brian Cox', 14),
 ('Jennifer Lopez', 14),
 ('Arnold Schwarzenegger', 14),
 ('Viggo Mortensen', 14),
 ('Michelle Monaghan', 14),
 ('Mia Wasikowska', 14),
 ('Johnny Knoxville', 14),
 ('Donald Sutherland', 14),
 ('Mathieu Amalric', 14),
 ('Carla Gugino', 14),
 ('Om Puri', 14),
 ('Jessica Biel', 14),
 ('Jessica Alba', 14),
 ('Christopher Walken', 14),
 ('Justin Long', 14),
 ('Ashton Kutcher', 14),
 ('Rebecca Hall', 13),
 ('Virginia Madsen', 13),
 ('Michael Keaton', 13),
 ('Nicholas Hoult', 13),
 ('Hilary Swank', 13),
 ('Uma Thurman', 13),
 ('Jason Segel', 13),
 ('Gary Oldman', 13),
 ('Eric Bana', 13),
 ('Emile Hirsch', 13),
 ('Sam Neill', 13),
 ('Kristen Bell', 13),
 ('Bill Nighy', 13),
 ('Riteish Deshmukh', 13),
 ('Rosamund Pike', 13),
 ('Diane Keaton', 13),
 ('Parker Posey', 13),
 ('Morris Chestnut', 13),
 ('Jeff Daniels', 13),
 ('Matthew Broderick', 13),
 ('Paul Walker', 13),
 ('Jeremy Renner', 13),
 ('Jet Li', 13),
 ('Jonathan Pryce', 13),
 ('Brendan Gleeson', 13),
 ('Hugh Grant', 13),
 ("Vincent D'Onofrio", 13),
 ('Ranbir Kapoor', 13),
 ('Diane Kruger', 13),
 ('Patrick Stewart', 13),
 ('Brendan Fraser', 13),
 ('Billy Crudup', 13),
 ('Marion Cotillard', 13),
 ('George W. Bush', 13),
 ('Kevin Kline', 13),
 ('Robert Redford', 13),
 ('Emma Roberts', 13),
 ('Samantha Morton', 13),
 ('Ray Liotta', 13),
 ('Kim Basinger', 13),
 ('Michelle Rodriguez', 12),
 ('Cillian Murphy', 12),
 ('Josh Lucas', 12),
 ('Benicio Del Toro', 12),
 ('Alessandro Nivola', 12),
 ('Andrew Garfield', 12),
 ('Michelle Pfeiffer', 12),
 ('Laurence Fishburne', 12),
 ('Tim Roth', 12),
 ('Paul Bettany', 12),
 ('Chris Pratt', 12),
 ('Scott Speedman', 12),
 ('Michael Peña', 12),
 ('Andrea Riseborough', 12),
 ('Anthony Mackie', 12),
 ('Ian McKellen', 12),
 ('Felicity Jones', 12),
 ('Bruce Greenwood', 12),
 ('Paresh Rawal', 12),
 ('Matthew Goode', 12),
 ('Louis Garrel', 12),
 ('Kurt Russell', 12),
 ('Gabrielle Union', 12),
 ('Elisabeth Shue', 12),
 ('Mandy Moore', 12),
 ('Christopher Plummer', 12),
 ('Gérard Depardieu', 12),
 ('Stanley Tucci', 12),
 ('Daniel Radcliffe', 12),
 ('Steve Zahn', 12),
 ('Queen Latifah', 12),
 ('Greta Gerwig', 12),
 ('Radha Mitchell', 12),
 ('Aishwarya Rai Bachchan', 12),
 ('Steve Martin', 12),
 ('Michael Douglas', 12),
 ('Wes Bentley', 12),
 ('Michael Angarano', 12),
 ('Cuba Gooding Jr.', 12),
 ('Margot Robbie', 11),
 ('Carrie-Anne Moss', 11),
 ('Marlon Wayans', 11),
 ('Zach Galifianakis', 11),
 ('Abigail Breslin', 11),
 ('Ron Perlman', 11),
 ('Carey Mulligan', 11),
 ('Mila Kunis', 11),
 ('Stellan Skarsgård', 11),
 ('J.K. Simmons', 11),
 ('Armie Hammer', 11),
 ('Giovanni Ribisi', 11),
 ('Naomie Harris', 11),
 ('Mads Mikkelsen', 11),
 ('Harvey Keitel', 11),
 ('Saoirse Ronan', 11),
 ('Brie Larson', 11),
 ('Katie Holmes', 11),
 ('Andy Garcia', 11),
 ('Kevin James', 11),
 ('Benjamin Bratt', 11),
 ('Anjelica Huston', 11),
 ('Stephen Dorff', 11),
 ('John Turturro', 11),
 ('Audrey Tautou', 11),
 ('Andy Lau', 11),
 ('Jeanne Moreau', 11),
 ('Taraji P. Henson', 11),
 ('Jason Sudeikis', 11),
 ('Ryan Phillippe', 11),
 ('Sonam Kapoor', 11),
 ('Thomas Jane', 11),
 ('Helena Bonham Carter', 11),
 ('Ron Livingston', 11),
 ('Tom Hiddleston', 11),
 ('Steve Buscemi', 11),
 ('Jodie Foster', 11),
 ('Ben Foster', 11),
 ('Olivia Wilde', 11),
 ('Dustin Hoffman', 11),
 ('Rishi Kapoor', 11),
 ('Shahid Kapoor', 11),
 ('Abbie Cornish', 11),
 ('Justin Timberlake', 11),
 ('Kiefer Sutherland', 11),
 ('Chris Cooper', 11),
 ('Charlotte Gainsbourg', 11),
 ('Jim Broadbent', 11),
 ('Arshad Warsi', 11),
 ('Fabrice Luchini', 11),
 ('Kathy Bates', 11),
 ('Heather Graham', 11),
 ('Paul Dano', 11),
 ('Marcia Gay Harden', 11),
 ('Maggie Gyllenhaal', 11),
 ('Tobey Maguire', 11),
 ('Mickey Rourke', 11),
 ('Eva Mendes', 11),
 ('Jean Reno', 11),
 ('Kerry Washington', 11),
 ('Hilary Duff', 11),
 ('Jamie Lee Curtis', 10),
 ('Adam Driver', 10),
 ('Domhnall Gleeson', 10),
 ('Tyler Perry', 10),
 ('Ed Helms', 10),
 ('Rhys Ifans', 10),
 ('Rupert Friend', 10),
 ('David Strathairn', 10),
 ('Ellen Burstyn', 10),
 ('Michael Cera', 10),
 ('Glenn Close', 10),
 ('Vanessa Redgrave', 10),
 ('Charlotte Rampling', 10),
 ('Jack Nicholson', 10),
 ('Jeremy Irons', 10),
 ('Jérémie Renier', 10),
 ('Elisabeth Moss', 10),
 ('Sarah Jessica Parker', 10),
 ('Josh Duhamel', 10),
 ('Jon Hamm', 10),
 ('David Arquette', 10),
 ('William Hurt', 10),
 ('Bryan Cranston', 10),
 ('Hailee Steinfeld', 10),
 ('Regina Hall', 10),
 ('Melissa McCarthy', 10),
 ('Vidya Balan', 10),
 ('Matt Dillon', 10),
 ('Timothy Hutton', 10),
 ('Ving Rhames', 10),
 ('Leslie Mann', 10),
 ('Dominic West', 10),
 ('Will Arnett', 10),
 ('Robert Duvall', 10),
 ('Romain Duris', 10),
 ('Melissa Leo', 10),
 ('Sharon Stone', 10),
 ('John Corbett', 10),
 ('Jon Heder', 10),
 ('Ray Winstone', 10),
 ('Chow Yun-Fat', 10),
 ('Arjun Rampal', 10),
 ('Christian Slater', 10),
 ('Bill Paxton', 10),
 ('Nick Nolte', 10),
 ('Josh Hutcherson', 10),
 ('Katherine Heigl', 10),
 ('William H. Macy', 10),
 ('Alfred Molina', 10),
 ('Terrence Howard', 10),
 ('Hope Davis', 10),
 ('Jason Biggs', 10),
 ('Edward Burns', 10),
 ('Benedict Cumberbatch', 9),
 ('Tony Chiu-Wai Leung', 9),
 ('Alexander Skarsgård', 9),
 ('John Cena', 9),
 ('David Oyelowo', 9),
 ('Connie Nielsen', 9),
 ('Keri Russell', 9),
 ('Anya Taylor-Joy', 9),
 ('Timothy Spall', 9),
 ('Sally Hawkins', 9),
 ('Isla Fisher', 9),
 ('George Lopez', 9),
 ('Ricardo Darín', 9),
 ('Holly Hunter', 9),
 ('Sissy Spacek', 9),
 ('Julia Stiles', 9),
 ('Eric Roberts', 9),
 ('Jena Malone', 9),
 ('Tadanobu Asano', 9),
 ('Emma Watson', 9),
 ('Charlie Hunnam', 9),
 ('Song Kang-ho', 9),
 ('Josh Gad', 9),
 ('Shraddha Kapoor', 9),
 ('Lee Byung-hun', 9),
 ('Christoph Waltz', 9),
 ('Octavia Spencer', 9),
 ('Peter Dinklage', 9),
 ('Olga Kurylenko', 9),
 ('Mark Strong', 9),
 ('Topher Grace', 9),
 ('Laura Dern', 9),
 ('Lena Headey', 9),
 ('Mira Sorvino', 9),
 ('Selma Blair', 9),
 ('Alice Eve', 9),
 ('Imogen Poots', 9),
 ('Kenneth Branagh', 9),
 ('Ziyi Zhang', 9),
 ('Liam Hemsworth', 9),
 ('Bruno Ganz', 9),
 ('Bruce Davison', 9),
 ('John Krasinski', 9),
 ('Malin Akerman', 9),
 ('Kate Mara', 9),
 ('Helen Hunt', 9),
 ('Paula Patton', 9),
 ('Cedric the Entertainer', 9),
 ('Logan Lerman', 9),
 ('Kelly Macdonald', 9),
 ('Varun Dhawan', 9),
 ('Djimon Hounsou', 9),
 ('Ian McShane', 9),
 ('Heath Ledger', 9),
 ('Michel Piccoli', 9),
 ('Julianne Nicholson', 9),
 ('Dominic Cooper', 9),
 ('Anthony LaPaglia', 9),
 ('Alan Arkin', 9),
 ('Sanaa Lathan', 9),
 ('Miranda Richardson', 9),
 ('Aaron Taylor-Johnson', 9),
 ('Sharlto Copley', 9),
 ('Danny DeVito', 9),
 ('Shu Qi', 9),
 ('Bill Pullman', 9),
 ('Danny Glover', 9),
 ('Teresa Palmer', 9),
 ('Cary Elwes', 9),
 ('Tina Fey', 9),
 ('Mike Epps', 9),
 ('David Thewlis', 9),
 ('Jessica Lange', 9),
 ('David Duchovny', 9),
 ('Thomas Haden Church', 9),
 ('Kate Bosworth', 9),
 ('Jason Schwartzman', 9),
 ('Minnie Driver', 9),
 ('Eva Green', 9),
 ('Jay Baruchel', 9),
 ('Elias Koteas', 9),
 ('Winona Ryder', 9),
 ('Suniel Shetty', 9),
 ('Mark Webber', 9),
 ('Amy Smart', 9),
 ('Joan Cusack', 9),
 ('Vivek Oberoi', 9),
 ('Val Kilmer', 9),
 ('Timothy Olyphant', 9),
 ('Catherine Zeta-Jones', 9),
 ('Ludivine Sagnier', 9),
 ('Tom Holland', 8),
 ('Judy Greer', 8),
 ('Clint Eastwood', 8),
 ('Tony Jaa', 8),
 ('Frank Grillo', 8),
 ('Michael B. Jordan', 8),
 ('Thandiwe Newton', 8),
 ('Vinessa Shaw', 8),
 ('Michael Ealy', 8),
 ('Tye Sheridan', 8),
 ('Noomi Rapace', 8),
 ('Jason Isaacs', 8),
 ('Vincent Lindon', 8),
 ('Donnie Yen', 8),
 ('Mark Duplass', 8),
 ('John Hurt', 8),
 ('Neve Campbell', 8),
 ('Tim Blake Nelson', 8),
 ('Bryce Dallas Howard', 8),
 ('Jonathan Rhys Meyers', 8),
 ('Paul Newman', 8),
 ('Anna Friel', 8),
 ('Michael Sheen', 8),
 ('Jim Sturgess', 8),
 ('Blake Lively', 8),
 ('Alan Rickman', 8),
 ('Joely Richardson', 8),
 ('Christopher Abbott', 8),
 ('Common', 8),
 ('Adam Brody', 8),
 ('Gugu Mbatha-Raw', 8),
 ('Claire Danes', 8),
 ('Luke Evans', 8),
 ('Bruce Dern', 8),
 ('Amber Heard', 8),
 ('Tessa Thompson', 8),
 ('Jake Johnson', 8),
 ('Tyrese Gibson', 8),
 ('Ioan Gruffudd', 8),
 ('Alia Bhatt', 8),
 ('Viola Davis', 8),
 ('Arjun Kapoor', 8),
 ('Mélanie Laurent', 8),
 ('Nawazuddin Siddiqui', 8),
 ('Rory Culkin', 8),
 ('Monica Bellucci', 8),
 ('Rooney Mara', 8),
 ('Fanny Ardant', 8),
 ('Rainn Wilson', 8),
 ('Sam Claflin', 8),
 ('Maya Rudolph', 8),
 ('Eddie Redmayne', 8),
 ('Maggie Smith', 8),
 ('Anushka Sharma', 8),
 ('Hwang Jung-min', 8),
 ('Woody Allen', 8),
 ('Miles Teller', 8),
 ('Benoît Magimel', 8),
 ('Kôji Yakusho', 8),
 ('Ken Watanabe', 8),
 ('Moritz Bleibtreu', 8),
 ('Emily Browning', 8),
 ('André Dussollier', 8),
 ('Taye Diggs', 8),
 ('Dane DeHaan', 8),
 ('Elizabeth Olsen', 8),
 ('Yasiin Bey', 8),
 ('Lisa Kudrow', 8),
 ('Aamir Khan', 8),
 ('Christina Applegate', 8),
 ('Max von Sydow', 8),
 ('Freddie Highmore', 8),
 ('Karl Urban', 8),
 ('Ray Romano', 8),
 ('Denis Leary', 8),
 ('Rob Schneider', 8),
 ('Anupam Kher', 8),
 ('Liv Tyler', 8),
 ('Ray Stevenson', 8),
 ('Vivica A. Fox', 8),
 ('Olivia Thirlby', 8),
 ('Gene Hackman', 8),
 ('Simon Pegg', 8),
 ('Michael Clarke Duncan', 8),
 ('Kelly Reilly', 8),
 ('Leslie Bibb', 8),
 ('James Gandolfini', 8),
 ('Sam Shepard', 8),
 ('Brenda Blethyn', 8),
 ('Rachael Leigh Cook', 8),
 ('Nia Long', 8),
 ('Emmy Rossum', 8),
 ('David Morse', 8),
 ('Angela Bassett', 8),
 ('Lindsay Lohan', 8),
 ('Chazz Palminteri', 8),
 ('Peter Coyote', 8),
 ('Famke Janssen', 8),
 ('Edgar Ramírez', 7),
 ('Rufus Sewell', 7),
 ('Dev Patel', 7),
 ('Jared Leto', 7),
 ('Jon Bernthal', 7),
 ('Demián Bichir', 7),
 ('Billy Crystal', 7),
 ('Jeremy Sisto', 7),
 ('Connie Britton', 7),
 ('Mary Elizabeth Winstead', 7),
 ('Gillian Jacobs', 7),
 ('Dan Aykroyd', 7),
 ('Dan Stevens', 7),
 ('Andie MacDowell', 7),
 ('Javier Cámara', 7),
 ('Nat Wolff', 7),
 ('Martin Freeman', 7),
 ('Lukas Haas', 7),
 ('Pat Healy', 7),
 ('Ye Liu', 7),
 ('Olivia Cooke', 7),
 ('Sarah Michelle Gellar', 7),
 ('Kangana Ranaut', 7),
 ('Malcolm McDowell', 7),
 ('Orlando Bloom', 7),
 ('Garrett Hedlund', 7),
 ('Lynn Collins', 7),
 ('Ha Jung-woo', 7),
 ('Nick Frost', 7),
 ('Piper Perabo', 7),
 ('Lucy Liu', 7),
 ('Bill Clinton', 7),
 ('Patton Oswalt', 7),
 ('Taron Egerton', 7),
 ('Barry Pepper', 7),
 ('Rebel Wilson', 7),
 ('Milo Ventimiglia', 7),
 ('Dakota Johnson', 7),
 ('Omar Chaparro', 7),
 ('Michael Gambon', 7),
 ('Snoop Dogg', 7),
 ('Sushant Singh Rajput', 7),
 ('André 3000', 7),
 ('Oprah Winfrey', 7),
 ('Sean Astin', 7),
 ('Farhan Akhtar', 7),
 ('Sonakshi Sinha', 7),
 ('Tabu', 7),
 ('Blythe Danner', 7),
 ('Olivier Gourmet', 7),
 ('Mathilde Seigner', 7),
 ('Werner Herzog', 7),
 ('Rupert Everett', 7),
 ('Megan Fox', 7),
 ('Isabella Rossellini', 7),
 ('Mary Steenburgen', 7),
 ('Henry Cavill', 7),
 ('Sarah Paulson', 7),
 ('Shailene Woodley', 7),
 ('Allison Janney', 7),
 ('Christina Hendricks', 7),
 ('Maggie Grace', 7),
 ('Baihe Bai', 7),
 ('Jeff Goldblum', 7),
 ('Kathryn Hahn', 7),
 ('Mélanie Thierry', 7),
 ('Juno Temple', 7),
 ('Kajol', 7),
 ('Anne Heche', 7),
 ('Rene Russo', 7),
 ('Jeffrey Wright', 7),
 ('AnnaSophia Robb', 7),
 ('Jean-Paul Belmondo', 7),
 ('Beyoncé', 7),
 ('Diego Luna', 7),
 ('Miranda Otto', 7),
 ('Zoe Kazan', 7),
 ('Tobin Bell', 7),
 ('Dax Shepard', 7),
 ('Xun Zhou', 7),
 ('Thomas Kretschmann', 7),
 ('Gillian Anderson', 7),
 ('Akshaye Khanna', 7),
 ('Emmanuelle Devos', 7),
 ('Lee Jung-jae', 7),
 ('Wesley Snipes', 7),
 ('Anaïs Demoustier', 7),
 ('Jesse Bradford', 7),
 ('Janet McTeer', 7),
 ('Anthony Anderson', 7),
 ('Joseph Fiennes', 7),
 ('Carice van Houten', 7),
 ('Catalina Sandino Moreno', 7),
 ('Michael Moore', 7),
 ('Adam Scott', 7),
 ('Gong Li', 7),
 ('Jimmy Shergill', 7),
 ('Demi Moore', 7),
 ('Jon Voight', 7),
 ('Cécile de France', 7),
 ('Hugh Laurie', 7),
 ('Julie Walters', 7),
 ('Shannyn Sossamon', 7),
 ('Alexa PenaVega', 7),
 ('Hayden Christensen', 7),
 ('Konkona Sen Sharma', 7),
 ('Manoj Bajpayee', 7),
 ('Emraan Hashmi', 7),
 ('Honglei Sun', 7),
 ('Amy Ryan', 7),
 ('Martin Sheen', 7),
 ('Billy Connolly', 7),
 ('Leighton Meester', 7),
 ('Stephen Lang', 7),
 ('Choi Min-sik', 7),
 ('Dan Fogler', 7),
 ('Preity Zinta', 7),
 ('Ciarán Hinds', 7),
 ('Brittany Murphy', 7),
 ('Sarah Polley', 7),
 ('Téa Leoni', 7),
 ('Camilla Belle', 7),
 ('Sean Bean', 7),
 ('Derek Luke', 7),
 ('Rip Torn', 7),
 ('Robert Carlyle', 7),
 ('Fardeen Khan', 7),
 ('Joan Allen', 7),
 ('Franka Potente', 7),
 ('Meg Ryan', 7),
 ('Freddie Prinze Jr.', 7),
 ('Rebecca Ferguson', 6),
 ('Logan Miller', 6),
 ('Max Minghella', 6),
 ('Jeffrey Dean Morgan', 6),
 ('Alison Brie', 6),
 ('Riley Keough', 6),
 ('Emmanuelle Chriqui', 6),
 ('Tiffany Haddish', 6),
 ('Rob Riggle', 6),
 ('Tahar Rahim', 6),
 ('Lucas Hedges', 6),
 ('Jane Fonda', 6),
 ('Takeshi Kitano', 6),
 ('Robin Tunney', 6),
 ('Michael Nyqvist', 6),
 ('Andy Serkis', 6),
 ('Eddie Izzard', 6),
 ('Nick Robinson', 6),
 ('Katherine Waterston', 6),
 ('Shea Whigham', 6),
 ('Will Patton', 6),
 ('Fabrizio Rongione', 6),
 ('Devon Sawa', 6),
 ('Hugo Weaving', 6),
 ('Kelsey Grammer', 6),
 ('Jim Cummings', 6),
 ('Sofia Boutella', 6),
 ('Michael C. Hall', 6),
 ('Charles Berling', 6),
 ('Marin Ireland', 6),
 ("Predrag 'Miki' Manojlovic", 6),
 ('Paz Vega', 6),
 ('Brit Marling', 6),
 ('Vanessa Hudgens', 6),
 ('George MacKay', 6),
 ('Mackenzie Davis', 6),
 ('Jai Courtney', 6),
 ('Bette Midler', 6),
 ('Adèle Haenel', 6),
 ("Catherine O'Hara", 6),
 ("Dylan O'Brien", 6),
 ('Tiger Shroff', 6),
 ('Jamie Dornan', 6),
 ('August Diehl', 6),
 ('Toby Jones', 6),
 ('Lesley Manville', 6),
 ('Chadwick Boseman', 6),
 ('Chris Messina', 6),
 ('Rhona Mitra', 6),
 ('Alia Shawkat', 6),
 ('Alexandra Daddario', 6),
 ('Shohreh Aghdashloo', 6),
 ('Haley Bennett', 6),
 ('Zoey Deutch', 6),
 ('Bobby Cannavale', 6),
 ('Cole Hauser', 6),
 ('Albert Brooks', 6),
 ('Rob Brydon', 6),
 ('Patricia Arquette', 6),
 ('Ben Whishaw', 6),
 ('James Earl Jones', 6),
 ('Bill Hader', 6),
 ('Jacob Tremblay', 6),
 ('Lily James', 6),
 ('Haley Lu Richardson', 6),
 ('Sarah Silverman', 6),
 ('Matthias Schoenaerts', 6),
 ('Lily Collins', 6),
 ('Jackie Shroff', 6),
 ('Bo Huang', 6),
 ('Jared Harris', 6),
 ('Sebastian Koch', 6),
 ('Chao Deng', 6),
 ('Molly Shannon', 6),
 ('Yi Zhang', 6),
 ("Ileana D'Cruz", 6),
 ('Jess Weixler', 6),

In [505]:
# Movie cutoffs for top 10, top 50, and top 100 actors 
cutoff_10_actors = top_actors[9][1]
cutoff_50_actors = top_actors[49][1]
# Top 100 actor made at least 21 movies since 2020 
cutoff_100_actors = top_actors[99][1]

In [508]:
top_10_actors = [key for key, value in actor_dict.items() if value >= cutoff_10_actors]
top_10_actors

['Ryan Reynolds',
 'Nicolas Cage',
 'Samuel L. Jackson',
 'Liam Neeson',
 'Julianne Moore',
 'Matt Damon',
 'Robert De Niro',
 'Mark Wahlberg',
 'Nicole Kidman',
 'Ewan McGregor',
 'Morgan Freeman']

In [113]:
df['actors'].apply()

0             Tom Holland, Zendaya, Benedict Cumberbatch
1               Simu Liu, Awkwafina, Tony Chiu-Wai Leung
2          Tom Hardy, Woody Harrelson, Michelle Williams
3       Scarlett Johansson, Florence Pugh, David Harbour
4       Vin Diesel, Michelle Rodriguez, Jordana Brewster
                              ...
8975              David Rosen, Alexa Jago, Jonathan Aube
8976             Tony Nardi, Timothy Webber, Tygh Runyan
8977              Steven Nelson, Honey Lauren, Jeri Ryan
8978                   Roshan Seth, Soni Razdan, Om Puri
8979       Colin Friels, Jack Thompson, Donald Pleasence
Name: actors, Length: 8980, dtype: object

In [300]:
df['director'].apply(lambda x: has_top_director(x, top_10_directors)).isna().sum()

210

In [303]:
df.describe()

          runtime   top_10_dir   top_50_dir  top_100_dir
count  8866.00000  8770.000000  8770.000000  8770.000000
mean    103.22028     0.020753     0.076169     0.106499
std      28.06257     0.142563     0.265283     0.308493
min       1.00000     0.000000     0.000000     0.000000
25%      91.00000     0.000000     0.000000     0.000000
50%     101.00000     0.000000     0.000000     0.000000
75%     115.00000     0.000000     0.000000     0.000000
max     780.00000     1.000000     1.000000     1.000000

In [509]:
df.rated.value_counts()

R            3519
PG-13        2093
Not Rated    2011
PG            895
Unrated       409
G             151
TV-MA          91
TV-14          59
TV-PG          36
Approved       34
Passed         21
TV-G           20
NC-17          12
X               3
GP              3
TV-Y7           3
UNRATED         2
M/PG            1
MA-17           1
M               1
Name: rated, dtype: int64

In [302]:
df.head()

,title,year,rated,released,runtime,genre,director,writer,actors,plot,language,country,poster,top_10_dir,top_50_dir,top_100_dir
0,Spider-Man: No Way Home,2021,PG-13,2021-12-17,148.0,"Action, Adventure, Fantasy",Jon Watts,"Chris McKenna, Erik Sommers, Stan Lee","Tom Holland, Zendaya, Benedict Cumberbatch","With Spider-Man's identity now revealed, Peter...",English,United States,https://m.media-amazon.com/images/M/MV5BZWMyYz...,0.0,0.0,0.0
1,Shang-Chi and the Legend of the Ten Rings,2021,PG-13,2021-09-03,132.0,"Action, Adventure, Fantasy",Destin Daniel Cretton,"Dave Callaham, Destin Daniel Cretton, Andrew L...","Simu Liu, Awkwafina, Tony Chiu-Wai Leung","Shang-Chi, the master of weaponry-based Kung F...","English, Mandarin",United States,https://m.media-amazon.com/images/M/MV5BNTliYj...,0.0,0.0,0.0
2,Venom: Let There Be Carnage,2021,PG-13,2021-10-01,97.0,"Action, Adventure, Sci-Fi",Andy Serkis,"Kelly Marcel, Tom Hardy","Tom Hardy, Woody Harrelson, Michelle Williams",Eddie Brock attempts to reignite his career by...,English,"United States, China",https://m.media-amazon.com/images/M/MV5BYTc3ZT...,0.0,0.0,0.0
3,Black Widow,2021,PG-13,2021-07-09,134.0,"Action, Adventure, Sci-Fi",Cate Shortland,"Eric Pearson, Jac Schaeffer, Ned Benson","Scarlett Johansson, Florence Pugh, David Harbour",Natasha Romanoff confronts the darker parts of...,"English, Russian, Norwegian, Hungarian, Macedo...",United States,https://m.media-amazon.com/images/M/MV5BNjRmND...,0.0,0.0,0.0
4,F9: The Fast Saga,2021,PG-13,2021-06-25,143.0,"Action, Crime, Thriller",Justin Lin,"Daniel Casey, Justin Lin, Alfredo Botello","Vin Diesel, Michelle Rodriguez, Jordana Brewster",Dom and the crew must take on an international...,English,United States,https://m.media-amazon.com/images/M/MV5BMjI0Nm...,0.0,0.0,0.0

In [91]:
df_revenue['gross']

0        572984769
1        224543292
2        212609036
3        183651655
4        173005945
           ...
14934          869
14935          589
14936          516
14937          374
14938          150
Name: gross, Length: 14939, dtype: int64