In [33]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import Lasso, Ridge, LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
import pickle as pkl
from tqdm import tqdm
import time
from datetime import datetime
pd.set_option('display.max_columns', None)

In [19]:
data = pd.read_csv('final_data.csv')

In [34]:
data.head()

,1st_year_revenue,title,year,released,runtime,top_10_dir,top_50_dir,top_100_dir,top_10_actors,top_50_actors,top_100_actors,language_coded,country_coded,rating,Action,Adventure,Fantasy/Sci-Fi,Crime,Thriller/Mystery,Drama,Horror,Comedy,Documentary,Family/Animated,Biography/History,Romance,Music/Musical,Likely TV
0,2197561,Africa's Elephant Kingdom,1998,1998-05-08,40.0,0.0,0.0,0.0,0.0,0.0,0.0,English only,US only,Unrated,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2637726,God's Army,2000,2000-03-10,108.0,0.0,0.0,0.0,0.0,0.0,0.0,English only,US only,PG,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2699820,The Bone Collector,1999,1999-11-05,118.0,0.0,0.0,0.0,0.0,1.0,1.0,English only,US and others,R,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2703114,Double Jeopardy,1999,1999-09-24,105.0,0.0,0.0,0.0,0.0,0.0,0.0,English only,US and others,R,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1428932,Three Kings,1999,1999-10-01,114.0,0.0,0.0,0.0,1.0,1.0,1.0,English and others,US only,R,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
data.columns

Index(['1st_year_revenue', 'title', 'year', 'released', 'runtime',
       'top_10_dir', 'top_50_dir', 'top_100_dir', 'top_10_actors',
       'top_50_actors', 'top_100_actors', 'language_coded', 'country_coded',
       'rating', 'Action', 'Adventure', 'Fantasy/Sci-Fi', 'Crime',
       'Thriller/Mystery', 'Drama', 'Horror', 'Comedy', 'Documentary',
       'Family/Animated', 'Biography/History', 'Romance', 'Music/Musical',
       'Likely TV'],
      dtype='object')

### Removing categorical variables for base test

In [25]:
Y = data['1st_year_revenue']
X = data[['year', 'runtime']]
# X = pd.concat((
#     data,
#     pd.get_dummies(data, columns= ['language', 'country', 'rating'], drop_first=True)), axis=1)


stand_X = (X - np.mean(X, axis = 0)) / np.std(X, axis = 0)
stand_X

stand_Y = Y

X2 = stand_X
Y2 = stand_Y

X2 = sm.add_constant(X2, prepend=False)
mod = sm.OLS(Y2, X2)
res = mod.fit()
print(res.summary())
print(res.params)

                            OLS Regression Results
==============================================================================
Dep. Variable:       1st_year_revenue   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.035
Method:                 Least Squares   F-statistic:                     85.02
Date:                Wed, 07 Dec 2022   Prob (F-statistic):           5.60e-37
Time:                        20:22:28   Log-Likelihood:                -88740.
No. Observations:                4573   AIC:                         1.775e+05
Df Residuals:                    4570   BIC:                         1.775e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
year       -2.501e+06   9.58e+05     -2.610      0.009   -4.38e+06   -6.22e+05
runtime      1.22e+07   9.58e+05     12.736      0.000    1.03e+07    1.41e+07
const       3.296e+07   9.58e+05     34.398      0.000    3.11e+07    3.48e+07
==============================================================================
Omnibus:                     3977.897   Durbin-Watson:                   0.462
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           141783.358
Skew:                           4.074   Prob(JB):                         0.00
Kurtosis:                      29.033   Cond. No.                         1.01
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
year      -2.500588e+06
runtime    1.220313e+07
const      3.295538e+07
dtype: float64

### OLS Regression Results

#### Categories that don't need OHE
'directors', 'actors', 'genre'

In [36]:
data[data.index.duplicated()]

Empty DataFrame
Columns: [1st_year_revenue, title, year, released, runtime, top_10_dir, top_50_dir, top_100_dir, top_10_actors, top_50_actors, top_100_actors, language_coded, country_coded, rating, Action, Adventure, Fantasy/Sci-Fi, Crime, Thriller/Mystery, Drama, Horror, Comedy, Documentary, Family/Animated, Biography/History, Romance, Music/Musical, Likely TV]
Index: []

In [48]:
pd.get_dummies(data, columns= ['language_coded', 'country_coded', 'rating'], drop_first=True).reset_index(drop=True)

,1st_year_revenue,title,year,released,runtime,top_10_dir,top_50_dir,top_100_dir,top_10_actors,top_50_actors,top_100_actors,Action,Adventure,Fantasy/Sci-Fi,Crime,Thriller/Mystery,Drama,Horror,Comedy,Documentary,Family/Animated,Biography/History,Romance,Music/Musical,Likely TV,language_coded_English only,language_coded_Foreign lang,country_coded_US and others,country_coded_US only,rating_PG,rating_PG-13,rating_R,rating_Unrated
0,2197561,Africa's Elephant Kingdom,1998,1998-05-08,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1
1,2637726,God's Army,2000,2000-03-10,108.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,0
2,2699820,The Bone Collector,1999,1999-11-05,118.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,1,0
3,2703114,Double Jeopardy,1999,1999-09-24,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,1,0
4,1428932,Three Kings,1999,1999-10-01,114.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4568,37000,Heart of Champions,2021,2021-10-29,119.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,1,0,0
4569,35910,Falling for Figaro,2020,2021-10-01,104.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0,0,0,0,0,1
4570,35481,Mainstream,2020,2021-05-07,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,0,1,0
4571,33765,Cryptozoo,2021,2021-08-20,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,1,0,0,0,1
4572,572984769,Spider-Man: No Way Home,2021,2021-12-17,148.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,1,0,0

In [68]:
X = data.drop(labels=['title', '1st_year_revenue', 'released'], axis=1)

In [71]:
Y = data['1st_year_revenue']
X = data.drop(labels=['title', '1st_year_revenue', 'released'], axis=1)
X = pd.get_dummies(X, columns= ['language_coded', 'country_coded', 'rating'], drop_first=True)
# X = pd.get_dummies(data, columns= ['language_coded', 'country_coded', 'rating'], drop_first=True)
# X = data.drop(labels=['title', '1st_year_revenue', 'released','language_coded', 'country_coded', 'rating'], axis=1)

# X = pd.concat((
#     data,
#     pd.get_dummies(data, columns= ['language_coded', 'country_coded', 'rating'], drop_first=True)), axis=1)
# X = data.drop(labels=['title', '1st_year_revenue', 'released','language_coded', 'country_coded', 'rating'], axis=1)

stand_X = (X - np.mean(X, axis = 0)) / np.std(X, axis = 0)
stand_X

stand_Y = Y

X2 = stand_X
Y2 = stand_Y

X2 = sm.add_constant(X2, prepend=False)
mod = sm.OLS(Y2, X2)
res = mod.fit()
print(res.summary())
print(res.params)

                            OLS Regression Results
==============================================================================
Dep. Variable:       1st_year_revenue   R-squared:                       0.355
Model:                            OLS   Adj. R-squared:                  0.351
Method:                 Least Squares   F-statistic:                     83.50
Date:                Wed, 07 Dec 2022   Prob (F-statistic):               0.00
Time:                        20:41:44   Log-Likelihood:                -87819.
No. Observations:                4573   AIC:                         1.757e+05
Df Residuals:                    4542   BIC:                         1.759e+05
Df Model:                          30
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
year                         1.489e+06   8.11e+05      1.835      0.067   -1.02e+05    3.08e+06
runtime                      1.339e+07   9.53e+05     14.054      0.000    1.15e+07    1.53e+07
top_10_dir                   5.104e+05    9.3e+05      0.549      0.583   -1.31e+06    2.33e+06
top_50_dir                  -4.317e+06   1.36e+06     -3.175      0.002   -6.98e+06   -1.65e+06
top_100_dir                  9.137e+06   1.29e+06      7.058      0.000     6.6e+06    1.17e+07
top_10_actors                -1.85e+06   9.26e+05     -1.997      0.046   -3.67e+06   -3.37e+04
top_50_actors                3.219e+06   1.31e+06      2.461      0.014    6.55e+05    5.78e+06
top_100_actors               5.148e+06   1.25e+06      4.114      0.000    2.69e+06     7.6e+06
Action                       9.796e+05   1.01e+06      0.969      0.333      -1e+06    2.96e+06
Adventure                    1.502e+07   1.02e+06     14.746      0.000     1.3e+07     1.7e+07
Fantasy/Sci-Fi               4.826e+06   8.82e+05      5.472      0.000     3.1e+06    6.55e+06
Crime                        -1.63e+06    8.9e+05     -1.831      0.067   -3.38e+06    1.15e+05
Thriller/Mystery             -1.05e+06   9.97e+05     -1.053      0.292   -3.01e+06    9.05e+05
Drama                       -7.551e+06   1.09e+06     -6.957      0.000   -9.68e+06   -5.42e+06
Horror                       -2.27e+05   9.38e+05     -0.242      0.809   -2.07e+06    1.61e+06
Comedy                      -7.329e+05   1.07e+06     -0.687      0.492   -2.82e+06    1.36e+06
Documentary                  -2.47e+06   1.15e+06     -2.148      0.032   -4.72e+06   -2.15e+05
Family/Animated              6.909e+06   1.13e+06      6.095      0.000    4.69e+06    9.13e+06
Biography/History           -2.232e+06    8.8e+05     -2.535      0.011   -3.96e+06   -5.06e+05
Romance                      -1.74e+06    9.1e+05     -1.912      0.056   -3.52e+06    4.42e+04
Music/Musical               -5.413e+05   8.12e+05     -0.667      0.505   -2.13e+06    1.05e+06
Likely TV                     3.21e+05   7.93e+05      0.405      0.686   -1.23e+06    1.88e+06
language_coded_English only -6.603e+06   9.68e+05     -6.824      0.000    -8.5e+06   -4.71e+06
language_coded_Foreign lang  -8.02e+06   1.26e+06     -6.362      0.000   -1.05e+07   -5.55e+06
country_coded_US and others  6.139e+06   9.97e+05      6.156      0.000    4.18e+06    8.09e+06
country_coded_US only        1.041e+07   1.11e+06      9.398      0.000    8.24e+06    1.26e+07
rating_PG                   -2.204e+06   2.03e+06     -1.088      0.277   -6.18e+06    1.77e+06
rating_PG-13                 3.736e+06   3.02e+06      1.236      0.216   -2.19e+06    9.66e+06
rating_R                    -4.783e+06   3.11e+06     -1.538      0.124   -1.09e+07    1.31e+06
rating_Unrated               -6.39e+06   2.87e+06     -2.228      0.026    -1.2e+07   -7.66e+05
const                        3.296e+07   7.86e+05     41.942      0.000    3.14e+07    3.45e+07
==============================================================================
Omnibus:                     3835.705   Durbin-Watson:                   0.960
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168171.407
Skew:                           3.753   Prob(JB):                         0.00
Kurtosis:                      31.745   Cond. No.                         12.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
year                           1.488762e+06
runtime                        1.339232e+07
top_10_dir                     5.103992e+05
top_50_dir                    -4.316880e+06
top_100_dir                    9.137143e+06
top_10_actors                 -1.849624e+06
top_50_actors                  3.218844e+06
top_100_actors                 5.147959e+06
Action                         9.796260e+05
Adventure                      1.502260e+07
Fantasy/Sci-Fi                 4.825562e+06
Crime                         -1.630297e+06
Thriller/Mystery              -1.050495e+06
Drama                         -7.551401e+06
Horror                        -2.269502e+05
Comedy                        -7.329128e+05
Documentary                   -2.469565e+06
Family/Animated                6.908518e+06
Biography/History             -2.231534e+06
Romance                       -1.739816e+06
Music/Musical                 -5.413318e+05
Likely TV                      3.209537e+05
language_coded_English only   -6.602712e+06
language_coded_Foreign lang   -8.020100e+06
country_coded_US and others    6.139441e+06
country_coded_US only          1.040883e+07
rating_PG                     -2.203812e+06
rating_PG-13                   3.736418e+06
rating_R                      -4.782699e+06
rating_Unrated                -6.389911e+06
const                          3.295538e+07
dtype: float64

### Data Transformations

In [ ]:
# y = data.pop('gross')
# X = data
# X = data.drop(['gross'], axis=1)

# Shuffle to false to handle time data
X_train, y_train, X_test, y_test = train_test_split(X, y, random_state = 42, shuffle=False, test_size = 0.2)
X_train, y_train, X_val, y_val = train_test_split(X_train, y_train, random_state = 42, shuffle=False, test_size = 0.2)

In [8]:
categorical_cols = []

In [ ]:
# Text Preprocessor
text_preprocesser = Pipeline(
    steps=[
        # Input tfidf parameters
        ('tfidf', TfidfVectorizer())
    ])

In [ ]:
# Categorical Preprocessor
categorical_preprocessor = Pipeline(
    steps=[
        # Change to 'ignore' if error raised
        ("OHE", OneHotEncoder(handle_unknown='error', drop='first'))
    ])

In [9]:
#Combine preprocessors
preprocessor = ColumnTransformer(
    transformers=[
        ('text', text_preprocesser, 'plot'),
        ('category', categorical_preprocessor, categorical_cols)
    ])

In [ ]:
lr_pipe = make_pipeline(
    preprocessor, 
    StandardScaler(with_mean=False), 
    LinearRegression()
)

lasso_pipe = make_pipeline(
    preprocessor, 
    StandardScaler(with_mean=False), 
    Lasso()
)

ridge_pipe = make_pipeline(
    preprocessor, 
    StandardScaler(with_mean=False), 
    Ridge()
)

rf_pipe = make_pipeline(
    preprocessor, 
    StandardScaler(with_mean=False), 
    RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 42)
)

In [12]:
## if make_pipeline doesn't work
# pipe = Pipeline(
#         steps= [
#             ('preprocessor', preprocessor),
#             ('scaler', StandardScaler(with_mean=False)),
#             ('linearReg', LinearRegression())
#         ])

### Linear Regression Base Model

In [ ]:
pipe.fit(X_train, y_train)
train_score = pipe.score(X_train, y_train)
val_score = pipe.score(X_val, y_val)
test_score = pipe.score(X_test, y_test)
val_pred = pipe.predict(X_val)
test_pred = pipe.predict(X_test)

print('Linear Regression Results')
print("Train score:", train_score)
print("Val score:", val_score)
print("Test score:", test_score)
print("Val RMSE:", np.sqrt(mean_squared_error(y_val, val_pred))
print("Test RMSE:", np.sqrt(mean_squared_error(y_test, test_pred))

### Ridge Base Model

In [ ]:
ridge_pipe.fit(X_train, y_train)
train_score = ridge_pipe.score(X_train, y_train)
val_score = ridge_pipe.score(X_val, y_val)
test_score = ridge_pipe.score(X_test, y_test)
val_pred = ridge_pipe.predict(X_val)
test_pred = ridge_pipe.predict(X_test)

print('Ridge Regression Results')
print("Train score:", train_score)
print("Val score:", val_score)
print("Test score:", test_score)
print("Val RMSE:", np.sqrt(mean_squared_error(y_val, val_pred))
print("Test RMSE:", np.sqrt(mean_squared_error(y_test, test_pred))

### Lasso Base Model

In [ ]:
lasso_pipe.fit(X_train, y_train)
train_score = lasso_pipe.score(X_train, y_train)
val_score = lasso_pipe.score(X_val, y_val)
test_score = lasso_pipe.score(X_test, y_test)
val_pred = lasso_pipe.predict(X_val)
test_pred = lasso_pipe.predict(X_test)

print('Lasso Regression Results')
print("Train score:", train_score)
print("Val score:", val_score)
print("Test score:", test_score)
print("Val RMSE:", np.sqrt(mean_squared_error(y_val, val_pred))
print("Test RMSE:", np.sqrt(mean_squared_error(y_test, test_pred))

### RandomForestRegressor Base Model

In [ ]:
# rf_pipe = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 42)
rf_pipe.fit(X_train, y_train)
train_score = rf_pipe.score(X_train, y_train)
val_score = rf_pipe.score(X_val, y_val)
test_score = rf_pipe.score(X_test, y_test)
val_pred = rf_pipe.predict(X_val)
test_pred = rf_pipe.predict(X_test)

print('RandomForestRegressor Results')
print("Train score:", train_score)
print("Val score:", val_score)
print("Test score:", test_score)
print("Val RMSE:", np.sqrt(mean_squared_error(y_val, val_pred))
print("Test RMSE:", np.sqrt(mean_squared_error(y_test, test_pred))

### GridSearchCV

#### Ridge

In [ ]:
param_grid = {
    "alpha": np.logspace(-3, 3, 7),
#     "max_iter": np.logspace(1, 5, 5)
}

# Start Time
start = datetime.now()

grid_search = GridSearchCV(pipe, param_grid=param_grid, n_jobs=-1, verbose = 2)
grid_search.fit(X_train, y_train)  
print("Best params:", grid_search.best_params_)
print(f"Internal CV score: {grid_search.best_score_:.3f}")

# End Time
end = datetime.now()
print("Process took:", end - start)

#### Lasso

In [ ]:
param_grid = {
    "alpha": np.logspace(-3, 3, 7),
#     "max_iter": np.logspace(1, 5, 5)
}

# Start Time
start = datetime.now()

grid_search = GridSearchCV(pipe, param_grid=param_grid, n_jobs=-1, verbose = 2)
grid_search.fit(X_train, y_train)  
print("Best params:", grid_search.best_params_)
print(f"Internal CV score: {grid_search.best_score_:.3f}")

# End Time
end = datetime.now()
print("Process took:", end - start)

#### RandomForestRegressor

In [ ]:
# Start Time
start = datetime.now()

param_grid = {
    'n_estimators': [200,300,400,500],
    'max_features': ['sqrt','log2'],
    'max_depth' : [3,4,5,6,7],
    'random_state' : [42]
}

grid_search = GridSearchCV(pipe, param_grid=param_grid, n_jobs=-1, verbose = 10)
grid_search.fit(X_train, y_train)  
print("Best params:", grid_search.best_params_)
print(f"Internal CV score: {grid_search.best_score_:.3f}")

# End Time
end = datetime.now()
print("Process took:", end - start)